* {
	margin: 0px;
	padding: 0px;
}
body{
	
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}
table {
    border-collapse: collapse;
    width: 100%;
}
.formulario1{
	
	background:  #5d6d7e ;
	width: 360px;
	border: 30px solid:  #f1c40f;
	border-radius: 13px;
	box-shadow: 10px 10px 5px #839192;
	margin: 100px auto;
}
.formulario1 ul{
	width: 360px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.formulario1 li{
	padding: 12px;
	border-bottom: 1px ;
	position: relative;
}
.formulario1 li:first-child{
	border-bottom: 5px solid #777;
}
.formulario1 label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.formulario1 input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

.formulario1 input:focus {
    background: #eee; 
    border:1px solid #000080; 
    box-shadow: 0 0 3px #000080; 
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
}
.formulario1 input{
    transition: padding .25s;
}
.formulario1 input:focus:invalid{
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
img{
	margin: 5px;
    float: left;
    width: 350px;
    height: 300px;
    box-shadow: 10px 10px 5px #839192;
    border-radius: 13px;

}
.formulario2 ul{
    padding: 40px;
    width: 360px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.formulario2 li{
	background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    margin: 50px;
    padding: 12px;
	border-bottom: 1px ;
	position: relative;
	border-radius: 0px 50px 50px 0px;
	cursor: pointer;
}
.formulario2 li:hover
{
	background: linear-gradient(to right, rgba(50,50,50,1) 10%, rgba(100,192,120,10) 100%);
	border-left: 10px solid #000000;
	border-bottom: 1px ;
	position: relative;
	border-radius: 0px 50px 50px 0px;
	cursor: pointer;
}
.formulario2 ul li a{
	color:#00bfff;
	text-shadow: 5px 3px 1px #000000;
	cursor: pointer;
}
.formulario2 ul li a:hover
{
	color:#000000;
	text-shadow: 5px 3px 1px #00bfff;
	cursor: pointer;
}
.formulario3{
	
	background:  #5d6d7e ;
	width: 360px;
	border: 30px solid:  #f1c40f;
	border-radius: 13px;
	box-shadow: 10px 10px 5px #839192;
	margin: 100px auto;
}
.formulario3 ul{
	width: 360px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.formulario3 li{
	padding: 12px;
	border-bottom: 1px ;
	position: relative;
}
.formulario4{
	
	background:  #5d6d7e ;
	width: 360px;
	border: 30px solid:  #f1c40f;
	border-radius: 13px;
	box-shadow: 10px 10px 5px #839192;
	margin: 100px auto;
}
.formulario4 ul{
	width: 360px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.formulario5 li{
	padding: 12px;
	border-bottom: 1px ;
	position: relative;
}





